.footer-up{
    background: #212121;
    color: white;
}
.footer-up .cities{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap: 10px;
        border-bottom: 2px solid #424242;
        padding-bottom: 30px;

}
.footer-up .cities > .group-1 div{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 100%;
color: #F5F5F5;
padding-top: 10px;
}
.footer-up h2{
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;

    /* color: #FFFFFF; */
    
    
}

a{
    color: #FFFFFF;

    text-decoration: none;
}
/*---------------part-2----------*/


.part-two-footer .two-section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        padding-top: 20px;
        border-bottom: 1px solid hsl(0, 0%, 26%);
        padding-bottom: 60px;
        gap: 15px; 

}


.part-two-footer .company {
     display: grid;
    grid-template-columns: repeat(auto-fit,minmax(110px,1fr));
        gap: 10px; 
        
}
.part-two-footer .company .one p{
    font-family: 'Source Sans Pro';
font-weight: 400;
font-size: 18px;
line-height: 100%;
color: #F5F5F5;
padding-top: 10px;

}


.part-two-footer h2{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */

text-transform: uppercase;

color: #F5F5F5;

opacity: 0.6
   
}
.form .sub{
    padding-top: 20px !important;
    padding-bottom: 20px;
    padding-left: 10px !important;
    
}
.form-up  .align{
    padding: 30px 0px;
    display: flex;
    align-items:center;
    flex-wrap:wrap ;
}
.form-up  .align >div input{
    color: #FEFAF1;
}

.part-two-footer .follow-us  p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    padding-bottom: 30px;
    color: #BBBBBB;

}


.part-two-footer .follow-us  .sub a{
    padding: 15px 24px;
    
    background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
    border-radius: 8px;
    
    

}
.part-two-footer .follow-us form input{
    outline: none;
    border: none;
    padding: 15px 24px;
    gap: 10px;
   background: #424242;
    border-radius: 8px;
    
    
    
}
/*----------hero footer------------*/
.hero-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 10px;
        padding-bottom: 50px;
        padding-top: 20px;
}

.hero-footer .left{
   
font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 120%;
color: #F5F5F5;

    }
.hero-footer .right{
    display: flex;
    justify-content: flex-end;
font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 120%;
color: #F5F5F5;

    }
    .form-center .subscribe{
        padding: 20px 0;
    }
    .form-center .subscribe > div{
       padding-left: 10px;
        
    }
    @media screen and (max-width:768px) {
        .hero-footer .right{
            justify-content: initial;

        }
    }
 /*------------ scroll-------------------------*/

 .upscroller{
    width: 40px;
    height: 40px;
   transition: 1s;
     position: fixed;
     right: -20px;
     bottom: -44px;
     z-index: 100;
 }
 .upscroller > div{
    width: 100%;
    height: 100% !important;
    border-radius: 5px;


 }
.upscroller i{
    display: flex;
    justify-content:center;
    align-items: center;
    background: rgb(185, 123, 7);
    width: 100%;
    height: 100% !important;
    color: white;
    font-size: 20px;
    border-radius: 5px;
cursor: pointer;
}
 

.hide{
    right: -20px;
    bottom: -44px;
    transition:  1s;
}
.show{
    transition:  1s;
   z-index: 100;
     border-radius: 10px;
     background-color: olive;
     position: fixed;
     right: 20px;
     bottom: 44px;
     border-radius: 5px;
}


/*----------------search------------*/
.overlay-search{
   
    transition: 1s;
    position:fixed ; 
    top: -100%;
  
}
.overlay-form-login{
    width: 100%;
    height: 100%;
    background-color: red;
    transition: 1s;
    position:fixed ; 
    top: -103%;
  
}
 .container-form{
    height: 100%;
}

 .up-form-login{
height: 100%;
display: flex;
justify-content: center;
align-items: center;

}
.div-form-login{
    background-color: white;
padding: 40px;
border: 2px solid orangered;
}
.div-form-login form div:nth-child(1){
    padding-bottom: 20px;
    
}
.div-form-login form div:nth-child(1) input{
    padding: 20px 60px;
    border: none;
    outline: none;

    background-color: rgb(233, 229, 229);
}
.div-form-login form div:nth-child(2){
    padding-bottom: 20px;
    
}
.div-form-login form div:nth-child(2) input{
    padding: 20px 60px;
    border: none;
    outline: none;

    background-color: rgb(233, 229, 229);
}
.div-form-login form div:nth-child(3) button{
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 48px;
    gap: 10px;
    background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
    box-shadow: 0px 5px 8px rgb(222 151 0 / 24%), 0px 14px 32px rgb(255 178 14 / 29%);
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    cursor: pointer;
    text-transform: uppercase;
    color: #FFFFFF
}
.div-form-login form div:nth-child(4){

padding-top: 15px;

}




 .up-search{
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.up-search div:nth-child(1){
    padding: 15px;
}
.up-search div:nth-child(1) input{
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.up-search div:nth-child(2) button{
    color: white;
    padding: 15px 20px;
    padding: 15px 20px;
    outline: none;
    border: none;
    background: linear-gradient(92.84deg, #725815 -47.72%, #ff8d06 136.81%);
box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
border-radius: 8px;
cursor:pointer
}

 .close-search-up{
    width: 99%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.close-form-login{
   width: 99%;
   padding: 15px;
   display: flex;
   justify-content: flex-end;
}

.close-search{
    margin-right: 40px;
width: 40px;
height: 38px;
}
.close-form-login{
    width: 40px;
    height: 38px;
    }

 .close-search-up i{
font-size: 40px;
cursor: pointer;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
color: orangered;
}

    
.overlay-active{
    transition: 1s;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position:fixed ; 
    left: 0;
    bottom: 0;
    top: 0%;
    background-color:#ffb800b8 ;
}
.overlay-active2{
    transition: 1s;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position:fixed ; 
    left: 0;
    bottom: 0;
    top: 0%;
    background-color:#ffb800b8 ;
}
.hide-parent{
    transition: 1s;
    position:fixed ; 
    top: -120%;
}
.hide-parent2{
    transition: 1s;
    position:fixed ; 
    top: -120%;
}

.up-close{
    background-color: brown;
display: flex;
justify-content: flex-end;
}